Source: harbour
Section: devel
Priority: optional
Maintainer: Ernad Husremovic <hernad@bring.out.ba>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/hernad
#Vcs-Git: git://git.debian.org/collab-maint/harbour.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/harbour.git;a=summary

Package: harbour
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: harbour programming language
 harbour programming language
